/* header.css */
/* https://www.w3schools.com/howto/howto_css_responsive_header.asp */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
  }
  
  .header a {
    float: left;
    color: #5469d4;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    color: #5469d4;
  }
  
  .header a.active {
    background-color: #5469d4;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
