<!-- auth\login.html -->
<!--https://codepen.io/stack-findover/pen/OJRvPQv-->
{% extends "base.html" %}
{% block content %}
  <div class="login-root">
    <div class="formbg">
      <div class="formbg-inner">
        <span class="title">Accedi al tuo account</span>

        <form method="POST" action="login">
          <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Your Email">
          </div>

          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your Password">
          </div>

          <div class="field field-checkbox">
            <label>
              <input class="form-check-input" type="checkbox" name="remember" id="remember-check"> Rimani connesso
            </label>
          </div>

          <div class="field">
            <input type="submit" class="btn btn-primary" value="Accedi">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
