<!-- user/creazione.html -->
{% extends "base.html" %}
{% block content %}
<div class="login-root">
  <div class="formbg">
    <div class="formbg-inner">
      <span class="title">Richiedi una nuova VM:</span>

      <form class="vm-form" method="POST" action="{{ url_for('user.crea_vm') }}">
        <div class="field">
          <label for="vm_type_id">Tipo di VM:</label>
          <select class="select" id="vm_type_id" name="vm_type_id" required>
            <option value="0">Bronze</option>
            <option value="1">Silver</option>
            <option value="2">Gold</option>
          </select>
        </div>

        <button class="btn-submit" type="submit">Richiedi VM</button>
      </form>
    </div>
  </div>
</div>

<div class="info-card">
    <div class="info-card__header">
      <h2 class="info-card__title">Informazioni relative ai 3 tipi di macchina:</h2>
    </div>

    <div class="info-card__body">
      <div class="info-card__tips">
        <div class="tip">
          <span class="tip__title">Bronze:</span>
          <ul>
            <li><span class="tip__text">1 core</span></li>
            <li><span class="tip__text">512mb RAM</span></li>
            <li><span class="tip__text">10GB disk</span></li>
          </ul>
        </div>

        <div class="tip">
          <span class="tip__title">Silver:</span>
          <ul>
            <li><span class="tip__text">2 core</span></li>
            <li><span class="tip__text">1024mb RAM</span></li>
            <li><span class="tip__text">15GB disk</span></li>
          </ul>
        </div>

        <div class="tip">
          <span class="tip__title">Gold:</span>
          <ul>
            <li><span class="tip__text">4 core</span></li>
            <li><span class="tip__text">2048mb RAM</span></li>
            <li><span class="tip__text">20GB disk</span></li>
          </ul>
        </div>
      </div>
    </div>
</div>
{% endblock %}