<!-- user/lista_vm.html -->
{% extends "base.html" %}
{% block content %}
    <h1 class="table-title">Lista delle tue VM</h1>
    <div class="table-container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Hostname</th>
            <th>Indirizzo IP</th>
            <th>Username</th>
            <th>Password</th>
            <th>Data Creazione</th>
        </tr>
        </thead>
        <tbody>
            {% for c in credentials %}
            <tr>
                <td>{{ c.hostname }}</td>
                <td>{{ c.ip_address }}</td>
                <td>{{ c.username }}</td>
                <td>{{ c.password }}</td>
                <td>{{ c.add_ts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div><br><br>


    <div class="info-card">
    <div class="info-card__header">
      <h2 class="info-card__title">Istruzioni per accedere alla propria macchina virtuale:</h2>
      <p class="info-card__subtitle">
        Utilizza le informazioni riportate nella tabella per accedere.
      </p>
    </div>

    <div class="info-card__body">
      <div class="info-card__tips">
        <div class="tip">
          <span class="tip__title">Istruzioni d'accesso alla macchina da terminale CMD:</span>
          <ul>
            <li><span class="tip__text">ssh [username]@[indirizzo ip]</span></li>
            <li><span class="tip__text">in seguito inserisci la password mostrata nella tabella</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}